.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 3px 2px rgba(61, 44, 44, 0.15);

        .left {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            border-right: 1px solid rgb(222, 222, 222);

            .logo {
                font-size: 150px;
                font-weight: 900;
                color: rgb(222, 222, 222);
                cursor: default;
                text-shadow: -10px 17px 0px #a8a8a8;
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .inputItems {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 6px 0;

                .inputTag {
                    width: 56%;
                    height: 42px;
                    border-radius: 4px;
                    outline: none;
                    font-size: 18px;
                    padding-left: 8%;
                }

                .icon {
                    position: absolute;
                    left: 19.5%;
                }
            }

            .loginBtn {
                width: 64%;
                font-size: 18px;
                padding: 8px 0;
                margin: 10px 0;
                border-radius: 4px;
                outline: none;
                cursor: pointer;
            }

            .registerBtn {
                background-color: grey;
                color: white;
                margin-top: 8px;
            }

            .text {
                text-align: center;
                width: 64%;
                padding-bottom: 22px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
