.rightbar {
    flex: 1;
    margin-top: 120px;

    .wrapper {
        width: 19%;
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: Calc(100vh - 120px);
        position: fixed;

        .top {
            flex: 1.5;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 60px;
            box-shadow: 0px 0px 3px 2px rgba(61, 44, 44, 0.15);

            .textContainer {
                padding: 16px 0 8px 16px;
                width: 50%;
                border-bottom: 2px solid rgb(52, 214, 255);

                .text {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }

            .containerInfo {
                display: flex;
                margin-top: 10px;

                .infoUser {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 8px;
                    border: 1px solid rgb(224, 224, 224);
                    border-radius: 3px;
                    cursor: pointer;

                    .avatar {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        object-fit: cover;
                        padding: 10px;
                    }

                    .name {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }
                }

                .info {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .follow {
                        display: flex;
                        align-items: center;
                        margin: 6px 10px 6px 0;

                        .text {
                            width: 70%;
                            text-align: left;
                        }

                        .number {
                            width: 30%;
                            text-align: right;
                            font-size: 20px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .bottom {
            flex: 2.5;
            width: 100%;
            margin-bottom: 60px;
            box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                background: #e7e7e7;
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(179, 179, 179);
                border-radius: 2px;
            }

            .textContainer {
                padding: 16px 0 8px 16px;
                width: 13%;
                border-bottom: 2px solid rgb(52, 214, 255);
                position: fixed;
                background-color: white;
                z-index: 2;

                .text {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }

            .friendContainer {
                display: flex;
                flex-direction: column;
                z-index: 1;
                margin-top: 50px;

                .friend {
                    display: flex;
                    margin: 6px 12px;
                    align-items: center;
                    position: relative;
                    cursor: pointer;

                    &:first-child {
                        margin-top: 14px;
                    }

                    .avatar {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 12px;
                    }

                    .name {
                        font-size: 18px;
                    }

                    .badge {
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: greenyellow;
                        top: 0px;
                        left: 30px;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}

.profileRightbar {
    flex: 1;
    margin-top: 18px;

    .profileWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 50px;

        .introBox {
            border-radius: 4px;
            box-shadow: 0px 0px 3px 2px rgba(61, 44, 44, 0.15);
            width: 100%;

            .textContainer {
                padding: 16px 0 8px 16px;
                width: 50%;
                border-bottom: 2px solid rgb(52, 214, 255);

                .text {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                margin: 20px 16px;

                .items {
                    &:nth-child(2) {
                        margin: 8px 0 8px;
                    }

                    .firstText {
                        font-weight: 500;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        .friendBox {
            border-radius: 4px;
            box-shadow: 0px 0px 3px 2px rgba(61, 44, 44, 0.15);
            width: 100%;
            margin-top: 40px;

            .textContainer {
                padding: 16px 0 8px 16px;
                width: 50%;
                border-bottom: 2px solid rgb(52, 214, 255);

                .text {
                    font-size: 18px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
        }
    }
}
